<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">

          <!-- CONTENT INDEX -->
          <index id="contents" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/databasePropertyStore" param1="$(id)" />
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
              <IndexAllFields>true</IndexAllFields>
              <fields hint="raw:AddComputedIndexField">
                <field fieldName="ItemUrl" storageType="YES" indexType="TOKENIZED" >DJ.Corporate.Framework.Search.Lucene.ComputedFields.Contents.ItemUrl, DJ.Corporate.Framework.Search.Lucene</field>
              </fields>
              <include hint="list:IncludeTemplate">
                <!-- General Pages  -->
                <StoreTemplate>{40275C00-CA6E-455C-9085-E2FA81394306}</StoreTemplate>
                <!-- Christmas Hub Pages  -->
                <StoreTemplate>{84C43A28-509F-44E0-B409-4C7BD90D8965}</StoreTemplate>
                <!-- One Column General Pages  -->
                <StoreTemplate>{5E418984-F4BC-4006-AF69-6A1B2B93B1AA}</StoreTemplate>
                <!-- What's On Page  -->
                <StoreTemplate>{05F03010-9958-487C-9975-CA203FC3A0E6}</StoreTemplate>
                <!-- DJ Event Page  -->
                <StoreTemplate>{81E9B5DD-E784-4654-9DD6-6544D9636BEF}</StoreTemplate>
                <!-- DJ Offer Page  -->
                <StoreTemplate>{3D0B0747-F778-4984-A78A-3C55C604E19D}</StoreTemplate>
                <!-- Store Location Page  -->
                <StoreTemplate>{F45E830D-902C-420B-A39B-A6E71CA000E7}</StoreTemplate>
                <!-- Store Details Page  -->
                <StoreTemplate>{2250400F-376B-4073-A981-6E21674EECE9}</StoreTemplate>
                <!-- Store Services Page  -->
                <StoreTemplate>{76AE163B-5E3D-4274-844F-C1457FED85FF}</StoreTemplate>
                <!-- FullWidthImage Page  -->
                <StoreTemplate>{C3AADB9E-C430-468F-9155-433BB1745491}</StoreTemplate>
                <!-- Static HTML Page  -->
                <StoreTemplate>{9A6BE0B5-7F29-4D6C-A0F5-2D91A9116C0E}</StoreTemplate>
              </include>
            </configuration>
            <!-- WEBSITE CONTENT -->
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/David Jones/Corporate/Home</Root>
              </crawler>
            </locations>
          </index>

        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>